*, *:before, *:after {
  box-sizing: border-box;
}
*,body{
    margin: 0;
    padding: 0;
    font-family: Cantarell, sans-serif;
}
.container{
    width: 900px;
    margin: auto;
    padding: 50px;
}
.dropdown{
    background-color:  #777;
    color: #fff;
    height: 41px;
    border-radius: 5px;
}
.dropdown ul{
    list-style-type: none;
}
.drop{
    display: block;
    float: left;
    padding: 0 5px;
    transition: all 200ms ease-in-out;
}
.drop p {
    padding: 10px;
}
.drop p:hover{
    background-color: #444;
    cursor: pointer;
}
.dropdown-content{
    display: none;
    background: #dfdfdf;

}
.dropdown-content li{
    padding: 10px;
    text-align: center;
    transition: all 200ms ease-in-out;

}
.dropdown-content a{
    text-decoration: none;
    color: #000;
}
.dropdown-content li:hover{
    background: #555;
    border-radius: 3px;
}
.dropdown-content a:hover{
    text-decoration: underline;

    color: #fff;
}
.show{
    display: block;
}

/* menjanje css pravila u odnosu na veličinu korišćenog uređaja */
@media only screen and (max-width: 900px) {
    .container {
        width:100%;
    }
}